<li class="splide__slide">
    <a href="https://e-commerce-b.herokuapp.com/" target="_black">
        <img src="/assets/proyects/audiophile.png" class="splide__slide__img" />

    </a>

    <div class="splide__slide__title">
        Audiophile<br> Nextjs
    </div>

    <div class="splide__slide__sub-title">
        Web
    </div>
</li>

<li class="splide__slide">
    <a href="https://github.com/skapxd/audiophile" target="_black">
        <img src="/assets/proyects/audiophile-github.png" class="splide__slide__img" />
    </a>

    <div class="splide__slide__title">
        Audiophile
    </div>

    <div class="splide__slide__sub-title">
        Github
    </div>
</li>

<li class="splide__slide">

    <a href="https://tecnologiamedicacelular.com/" target="_black">
        <img src="/assets/proyects/tmc.png" class="splide__slide__img" />
    </a>

    <div class="splide__slide__title">
        Tecnología Medica Celular<br> Express 
    </div>

    <div class="splide__slide__sub-title">
        Web
    </div>
</li>

<li class="splide__slide">

    <a href="https://github.com/skapxd/nest-protafolio" target="_black">
        <img src="/assets/proyects/portafolio-github.png" class="splide__slide__img" />
    </a>

    <div class="splide__slide__title">
        Portafolio SkapxD
    </div>

    <div class="splide__slide__sub-title">
        Github
    </div>
</li>

<li class="splide__slide">

    <a href="https://github.com/skapxd/Rest-Server-Basic-Express-TypeScript" target="_black">
        <img src="/assets/proyects/web-server-express-github.png" class="splide__slide__img" />
    </a>

    <div class="splide__slide__title">
        Web Server Express
    </div>

    <div class="splide__slide__sub-title">
        Github
    </div>
</li>

<li class="splide__slide">
    <a href="https://play.google.com/store/apps/details?id=app.allapp.allapp" target="_black">
        <img src="/assets/proyects/all-app.png" class="splide__slide__img" />
    </a>

    <div class="splide__slide__title">
        All App - App Delivery <br>  Google Play
    </div>

    <div class="splide__slide__sub-title">
        mobile
    </div>
</li>

<li class="splide__slide">

    <a href="https://github.com/skapxd/nest-backend-all_app" target="_black">
        <img src="/assets/proyects/all-app-backend.png" class="splide__slide__img" />
    </a>

    <div class="splide__slide__title">
        All App - Backend<br> Nestjs
    </div>

    <div class="splide__slide__sub-title">
        Github
    </div>
</li>


<li class="splide__slide">

    <a href="https://github.com/skapxd/All-App" target="_black">
        <img src="/assets/proyects/all-app-frontend.png" class="splide__slide__img" />
    </a>

    <div class="splide__slide__title">
        All App - Frontend<br> Flutter
    </div>

    <div class="splide__slide__sub-title">
        Github
    </div>
</li>
<!-- 
<li class="splide__slide">

    <a href="https://somos.pyndele.com/guia" target="_black">
        <img src="/assets/proyects/pyndele.png" class="splide__slide__img" />
    </a>

    <div class="splide__slide__title">
        Pyndele <br> Express
    </div>
    <div class="splide__slide__sub-title">
        Web
    </div>

</li>

<li class="splide__slide">

    <a href="https://somos.pyndele.com/guia" target="_black">
        <img src="/assets/proyects/pyndele-guia.png" class="splide__slide__img" />
    </a>

    <div class="splide__slide__title">
        Pyndele Guía <br> Express
    </div>
    <div class="splide__slide__sub-title">
        Web
    </div>

</li>

<li class="splide__slide">

    <a href="https://somos.pyndele.com/blog" target="_black">
        <img src="/assets/proyects/pyndele-blog.png" class="splide__slide__img" />
    </a>

    <div class="splide__slide__title">
        Pyndele Blog <br> Express
    </div>

    <div class="splide__slide__sub-title">
        Web
    </div>
</li> -->