<li class="splide__slide">
    <a href="https://pyndele.com" target="_black">
        <div class="splide__slide__img">

        </div>
    </a>

    <div class="splide__slide__title">
        Pyndele <br> Presentación
    </div>

    <div class="splide__slide__sub-title">
        Web
    </div>
</li>

<li class="splide__slide">

    <a href="https://tecnologiamedicacelular.com/" target="_black">
        <div class="splide__slide__img">

        </div>
    </a>

    <div class="splide__slide__title">
        Tecnología Medica <br> Celular
    </div>

    <div class="splide__slide__sub-title">
        Web
    </div>
</li>

<li class="splide__slide">

    <a href="https://github.com/skapxd/nest-protafolio" target="_black">
        <div class="splide__slide__img">

        </div>
    </a>

    <div class="splide__slide__title">
        Portafolio <br>
        SkapxD
    </div>

    <div class="splide__slide__sub-title">
        Github
    </div>
</li>

<li class="splide__slide">

    <a href="https://github.com/skapxd/Rest-Server-Basic-Express-TypeScript" target="_black">
        <div class="splide__slide__img">
        </div>
    </a>

    <div class="splide__slide__title">
        Web Server<br> Express
    </div>

    <div class="splide__slide__sub-title">
        Github
    </div>
</li>

<li class="splide__slide">
    <a href="https://play.google.com/store/apps/details?id=app.allapp.allapp" target="_black">
        <div class="splide__slide__img">

        </div>
    </a>

    <div class="splide__slide__title">
        All App - Google Play<br> App Delivery
    </div>

    <div class="splide__slide__sub-title">
        mobile
    </div>
</li>

<li class="splide__slide">

    <a href="https://github.com/skapxd/nest-backend-all_app" target="_black">
        <div class="splide__slide__img">
        </div>
    </a>

    <div class="splide__slide__title">
        All App - Backend<br> Nest
    </div>

    <div class="splide__slide__sub-title">
        Github
    </div>
</li>


<li class="splide__slide">

    <a href="https://github.com/skapxd/All-App" target="_black">
        <div class="splide__slide__img">
        </div>
    </a>

    <div class="splide__slide__title">
        All App - Frontend<br> Flutter
    </div>

    <div class="splide__slide__sub-title">
        Github
    </div>
</li>

<li class="splide__slide">

    <a href="https://pyndele.com/guia" target="_black">
        <div class="splide__slide__img">
        </div>
    </a>

    <div class="splide__slide__title">
        Pyndele <br> Guía
    </div>
    <div class="splide__slide__sub-title">
        Web
    </div>

</li>

<li class="splide__slide">

    <a href="https://pyndele.com/blog" target="_black">
        <div class="splide__slide__img">

        </div>
    </a>

    <div class="splide__slide__title">
        Pyndele <br> Blog
    </div>

    <div class="splide__slide__sub-title">
        Web
    </div>
</li>